<div class="container-1">
  <h1 class="titulo">Tienda de productos</h1>
</div>
<div class="container-2">
  <div class="card" style="width: 18rem">
    <a
      href="https://articulo.mercadolibre.com.ar/MLA-1402602533-guardapolvo-blanco-escolar-recto-unisex-talle-6-al-16-fabric-_JM#position=4&search_layout=grid&type=item&tracking_id=4bd2816e-5b40-40b2-94de-9113c7cb73f5"
      target="_blank"
    >
      <img
        class="primario"
        src="../../../assets/images/guardapolvos/primario.jpg"
        alt=""
      />
      <div class="card-body">
        <h5 class="card-title">guardapolvo primario</h5>
        <p class="card-text">7000$</p>
      </div>
    </a>
  </div>

  <div class="card" style="width: 18rem">
    <a
      href="https://articulo.mercadolibre.com.ar/MLA-1125697804-guardapolvo-de-trabajo-colegio-laboratorios-blanco-_JM#position=34&search_layout=stack&type=item&tracking_id=3538c079-9b00-434e-afac-f174af8f93a3"
      target="_blank"
    >
      <img
        class="secundario"
        src="../../../assets/images/guardapolvos/secundario.jpg"
        alt=""
      />
      <div class="card-body">
        <h5 class="card-title">guardapolvo secundario</h5>
        <p class="card-text">20.500$</p>
      </div>
    </a>
  </div>

  <div class="card" style="width: 18rem">
    <a
      href="https://articulo.mercadolibre.com.ar/MLA-1626474252-guardapolvo-maestra-azul-marino-arciel-broderuniformes-_JM#position=3&search_layout=grid&type=item&tracking_id=b9b562b9-3acc-4a23-b08c-b14c853994e5"
      target="_blank"
    >
      <img
        class="docente"
        src="../../../assets/images/guardapolvos/docente.webp"
        alt=""
      />
      <div class="card-body">
        <h5 class="card-title">guardapolvo docente</h5>
        <p class="card-text">35.900$</p>
      </div>
    </a>
  </div>
</div>
