<link rel="stylesheet" href="institucional.component.css">
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Institucional</title>
  <link rel="stylesheet" href="institucional.component.css">
</head>
<body>

  <div class="boton-volver">
    <a href="#">Volver</a>
  </div>

  <h3 class="titulo">Esta escuela ha sido aprobada por las siguientes entidades</h3>

  <p class="parrafo">
    Nos encontramos hoy aquí reunidos para celebrar las valiosas afiliaciones que
    nuestra querida Escuela Secundaria N°6 ha logrado en este último año.
    <br />
    Gracias al apoyo y compromiso de todos ustedes, hemos podido fortalecer
    nuestra institución y brindar a nuestros estudiantes las mejores oportunidades
    para su desarrollo integral.
  </p>

  <div class="container">
    <div>
      <a href="https://buenosaires.gob.ar/ministerio-de-educacion" target="_blank">
        <img class="logo gob-logo" src="../../../assets/images/afiliaciones/gobierno.jpg" alt="Gobierno">
      </a>
    </div>
    <div>
      <a href="https://www.uba.ar" target="_blank">
        <img class="logo uba-logo" src="../../../assets/images/afiliaciones/uba.jpg" alt="UBA">
      </a>
    </div>
    <div>
      <a href="https://www.universidades.com" target="_blank">
        <img class="logo uni-logo" src="../../../assets/images/afiliaciones/uni.jpg" alt="Universidad">
      </a>
    </div>
    <div>
      <a href="https://www.educacion.gov.ar" target="_blank">
        <img class="logo edu-logo" src="../../../assets/images/afiliaciones/educacion.jpg" alt="Educación">
      </a>
    </div>
  </div>

</body>
</html>
