<link rel="stylesheet" href="inicio.component.css">
<div class="a">
  <div class="c2">
    <p style="color: black">
      Estimadas autoridades, docentes, alumnos, padres y miembros de la
      comunidad, es con gran alegría que nos reunimos hoy para celebrar la
      inauguración de la Escuela Secundaria N°6. Este es un día histórico para
      nuestra comunidad, un día en el que abrimos las puertas a un futuro lleno
      de oportunidades para nuestros jóvenes. La construcción de esta escuela ha
      sido un sueño largamente anhelado por nuestra comunidad.
      <br />
      <br />
      <br />
      Durante años, hemos trabajado arduamente para recaudar fondos, conseguir
      permisos y finalmente, hacer realidad este proyecto. Hoy, gracias al
      esfuerzo y la colaboración de todos, podemos decir con orgullo que la
      Escuela Secundaria N°6 es una realidad.
    </p>
  </div>
</div>

<br /><br /><br />

<div class="b">
  <div class="c3"></div>
  <div class="c4">
    <p>
      Nuestro equipo La Escuela Secundaria N°6 está conformada por un grupo de
      profesionales altamente calificados y comprometidos con la educación.
      Nuestro equipo docente cuenta con amplia experiencia en la enseñanza
      secundaria y está formado por especialistas en diversas áreas del
      conocimiento. Además, contamos con un equipo directivo con una sólida
      trayectoria en la gestión educativa, que se encargará de velar por el buen
      funcionamiento de la institución y de garantizar el bienestar de toda la
      comunidad educativa.
      <br /><br />
      Nos comprometemos a brindar a nuestros estudiantes una educación de
      calidad, basada en valores como el respeto, la responsabilidad, la
      solidaridad y la tolerancia. Trabajaremos incansablemente para crear un
      ambiente escolar seguro, inclusivo y estimulante, donde todos los alumnos
      se sientan valorados y motivados para aprender.
    </p>
  </div>
</div>

<br /><br /><br />

<div class="c">
  <div class="c6">
    <p style="color: black">
      Para alcanzar este objetivo, nos proponemos:
      <br />
      Fomentar el aprendizaje activo y significativo: Buscamos que el
      aprendizaje no sea solo una acumulación de conocimientos, sino un proceso
      de construcción personal en el que ustedes sean los protagonistas.
      <br /><br />
      Desarrollar habilidades para el siglo XXI: Les brindaremos las
      herramientas necesarias para que puedan desenvolverse con éxito en un
      mundo en constante cambio. Esto incluye habilidades como el pensamiento
      crítico, la comunicación efectiva, el trabajo en equipo y la resolución de
      problemas.
      <br /><br />
      Promover valores fundamentales: Creemos que la educación debe ir más allá
      del ámbito académico. Por eso, trabajaremos para inculcarles valores como
      el respeto, la responsabilidad, la solidaridad y la tolerancia.
      <br /><br />
      Brindar un ambiente seguro e inclusivo: Queremos que la Escuela Secundaria
      N°6 sea un espacio donde todos se sientan bienvenidos, valorados y
      respetados.
      <br /><br />
      Trabajaremos para crear un ambiente de aprendizaje positivo y acogedor,
      donde todos puedan alcanzar su máximo potencial.
    </p>
  </div>
  <div class="c5"></div>
</div>
