<link rel="stylesheet" href="materias.component.css">
<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Ciclo Básico (1° a 3° año)</th>
        <th scope="col">Materia</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">#1</th>
        <td>Prácticas del Lenguaje</td>
      </tr>
      <tr>
        <th scope="row">#2</th>
        <td>Matemática</td>
      </tr>
      <tr>
        <th scope="row">#3</th>
        <td>Ciencias Naturales (Biología, Física, Química)</td>
      </tr>
      <tr>
        <th scope="row">#4</th>
        <td>Ciencias Sociales (Historia, Geografía, Economía)</td>
      </tr>
      <tr>
        <th scope="row">#5</th>
        <td>Educación Física</td>
      </tr>
      <tr>
        <th scope="row">#6</th>
        <td>Formación Ética y Ciudadana</td>
      </tr>
      <tr>
        <th scope="row">#7</th>
        <td>Educación para la Salud</td>
      </tr>
      <tr>
        <th scope="row">#8</th>
        <td>Inglés</td>
      </tr>
      <tr>
        <th scope="row">#9</th>
        <td>Tecnología</td>
      </tr>
      <tr>
        <th scope="row">#10</th>
        <td>Informática</td>
      </tr>
      <tr>
        <th scope="row">#11</th>
        <td>Arte</td>
      </tr>
      <tr>
        <th scope="row">#12</th>
        <td>Música</td>
      </tr>
    </tbody>
  </table>
</div>
<br />
<br />
<br />
<br />
<br />

<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Ciclo Orientado (4° a 5° año)</th>
        <th scope="col">Materia</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">#1</th>
        <td>Biología</td>
      </tr>
      <tr>
        <th scope="row">#2</th>
        <td>Física</td>
      </tr>
      <tr>
        <th scope="row">#3</th>
        <td>Química</td>
      </tr>
      <tr>
        <th scope="row">#4</th>
        <td>Matemática</td>
      </tr>
      <tr>
        <th scope="row">#5</th>
        <td>Inglés</td>
      </tr>
      <tr>
        <th scope="row">#6</th>
        <td>Informática</td>
      </tr>
      <tr>
        <th scope="row">#7</th>
        <td>Historia</td>
      </tr>
      <tr>
        <th scope="row">#8</th>
        <td>Geografía</td>
      </tr>
      <tr>
        <th scope="row">#9</th>
        <td>Sociología</td>
      </tr>
      <tr>
        <th scope="row">#10</th>
        <td>Filosofía</td>
      </tr>
      <tr>
        <th scope="row">#11</th>
        <td>Prácticas del Lenguaje</td>
      </tr>
      <tr>
        <th scope="row">#12</th>
        <td>Literatura</td>
      </tr>
      <tr>
        <th scope="row">#13</th>
        <td>Comunicación Social</td>
      </tr>
      <tr>
        <th scope="row">#14</th>
        <td>Matemática</td>
      </tr>
      <tr>
        <th scope="row">#15</th>
        <td>Dibujo</td>
      </tr>
      <tr>
        <th scope="row">#16</th>
        <td>Pintura</td>
      </tr>
      <tr>
        <th scope="row">#17</th>
        <td>Educación Física</td>
      </tr>
      <tr>
        <th scope="row">#18</th>
        <td>Anatomía y Fisiología</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- <div>
    <table class="table">
        <thead>
            <tr>
              <th scope="col">Ciclo Orientado (4° a 5° año)</th>
              <th scope="col">Materia</th>
              <th scope="col">Mas información</th>
            </tr>
          </thead>
        <tbody>
          <tr>
            <th scope="row">#1</th>
            <td>Biología</td>
            <button type="button" class="btn btn-info">Sobre la materia</button>
          </tr>
          <tr>
            <th scope="row">#2</th>
            <td>Física</td>
            <button type="button" class="btn btn-info">Sobre la materia</button>
          </tr>
          <tr>
            <th scope="row">#3</th>
            <td>Química</td>
            <button type="button" class="btn btn-info">Sobre la materia</button>
          </tr>
          <tr>
            <th scope="row">#4</th>
            <td>Matemática</td>
            <button type="button" class="btn btn-info">Sobre la materia</button>
          </tr>
          <tr>
            <th scope="row">#5</th>
            <td>Inglés</td>
            <button type="button" class="btn btn-info">Sobre la materia</button>
          </tr>
          <tr>
            <th scope="row">#6</th>
            <td>Informática</td>
            <button type="button" class="btn btn-info">Sobre la materia</button>
          </tr>
          <tr>
            <th scope="row">#7</th>
            <td>Historia</td>
            <button type="button" class="btn btn-info">Sobre la materia</button>
          </tr>
          <tr>
            <th scope="row">#8</th>
            <td>Geografía</td>
            <button type="button" class="btn btn-info">Sobre la materia</button>
          </tr>
          <tr>
            <th scope="row">#9</th>
            <td>Economía</td>
            <button type="button" class="btn btn-info">Sobre la materia</button>
          </tr>
          <tr>
            <th scope="row">#10</th>
            <td>Sociología</td>
            <button type="button" class="btn btn-info">Sobre la materia</button>
          </tr>
          <tr>
            <th scope="row">#11</th>
            <td>Filosofía</td>
            <button type="button" class="btn btn-info">Sobre la materia</button>
          </tr>
          <tr>
            <th scope="row">#12</th>
            <td>Inglés</td>
            <button type="button" class="btn btn-info">Sobre la materia</button>
          </tr>
          <tr>
            <th scope="row">#13</th>
            <td>Prácticas del Lenguaje</td>
            <button type="button" class="btn btn-info">Sobre la materia</button>
          </tr>
          <tr>
            <th scope="row">#14</th>
            <td>Literatura</td>
            <button type="button" class="btn btn-info">Sobre la materia</button>
          </tr>
          <tr>
            <th scope="row">#15</th>
            <td>Comunicación Social</td>
            <button type="button" class="btn btn-info">Sobre la materia</button>
          </tr>
          <tr>
            <th scope="row">#16</th>
            <td>Informática</td>
            <button type="button" class="btn btn-info">Sobre la materia</button>
          </tr>
          <tr>
            <th scope="row">#17</th>
            <td>Dibujo</td>
            <button type="button" class="btn btn-info">Sobre la materia</button>
          </tr>
          <tr>
            <th scope="row">#18</th>
            <td>Pintura</td>
            <button type="button" class="btn btn-info">Sobre la materia</button>
          </tr>
          <tr>
            <th scope="row">#19</th>
            <td>Historia del Arte</td>
            <button type="button" class="btn btn-info">Sobre la materia</button>
          </tr>
          <tr>
            <th scope="row">#20</th>
            <td>Música</td>
            <button type="button" class="btn btn-info">Sobre la materia</button>
          </tr>
          <tr>
            <th scope="row">#21</th>
            <td>Educación Física</td>
            <button type="button" class="btn btn-info">Sobre la materia</button>
          </tr>
        </tbody>
      </table>
</div> -->
