<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
</head>
<body>
    <form method="post" action='/registro'>
        <div class="input-wrapper">
            <label for="R_usuario">Usuario:</label>
            <input type="text" name="R_usuario">
        </div>
        
        <div class="input-wrapper">
            <label for="R_correo">Correo:</label>
            <input type="email" name="R_correo">
        </div>
     
        <div class="input-wrapper">
            <label for="R_clave">Contraseña:</label>
            <input type="password" name="R_clave">
        </div>
        
        <input type="submit" name="register" value="enviar">
    </form>
</body>
</html>
